<div class="container">
  <div class="text-center">




    <div class="row">

      <div class="col-md-6 mt-5 ">
        <div class="ms-5">

          <img src=" " alt="IMG-PRODUCT">

        </div>
      </div>
    </div>

    <div class="row text-center">


      <div class="col-md-6 mt-5 ">

        <div class="ms-5">
          <h1 class="fs-2 text-warning mb-5 ms-5">Choose Images </h1>
        </div>
        <label for="formFileMultiple" class="form-label">Select images</label>
        <input class="form-control" name="image" type="file" id="formFileMultiple" style="width: 30rem;" multiple />
      </div>

    </div>


    <div class="row">
      <div class="d-flex justify-content-center mt-5 mb-5 ">
        <input class="btn btn-success " type="submit" value="ADD">

      </div>
    </div>
  </div>

  {{!--
</div> --}}
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>Copyright &copy; Oxygen-Life 2022</span>
    </div>
  </div>
</footer>
</div>

<script src="http://code.jquery.com/jquery-1.9.1.js"></script>