<section class="vh-200 bg-light bg-gradient  pt-5">
  <div class="container-fluid h-custom">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-md-9 col-lg-6 col-xl-5">
        <img
          src="https://yt3.ggpht.com/dNXHD2XSx1tKug2Qxmf7D20U3ctr35Um4eVZkJHtjv9OBwCb2WqFu3iWg5Mgg31KfnKWo3zthvs=s900-c-k-c0x00ffffff-no-rj"
          class="img-fluid" alt="Sample image">
      </div>
      <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1 ">

        <!-- Email input -->
        <section>
          <form action="/login" id="userLogin" method="POST">
            {{#if loginErr}}
            <p class="error">{{loginErr}}</p>
            {{/if}}
            <div class="form-group">
              <label class="mb-2" for="email">Email Id <span class="text-danger ">*</span></label>
              <input type="email" class="form-control" name="email" id="email" placeholder="Enter your email id" />
            </div>

            <div class="form-group">
              <label class="mb-2 mt-3" for="password">Password <span class="text-danger">*</span></label>
              <input type="password" class="form-control" name="Password" id="password"
                placeholder="Enter Your Password" />
            </div>
            {{#if loginError}}
            <p>Invalid email or password</p>
            {{/if}} <br>
            <div class="form-group">
              <input type="submit" value="Login" class="btn btn-primary mt-3 btn-block" onclick="fun()" />
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account ? <a href="/signup"
                  class="link-danger">Register</a></p>
            </div>
            <div class="text-center text-lg-start mt-4 pt-2">
              <p class="small fw-bold mt-2 pt-1 mb-0">Click for <a href="/admin" class="link-info">Admin Login</a></p>
            </div>
          </form>
        </section>

      </div>
    </div>
  </div>

</section>



<section class="text-center">
  <div class="container mt-5 ">
    <div class="row ">
      {{#each products}}
      <div class="col-md-4 align-items-center ">
        <div class="card  align-items-center col-sm-6 col-md-4 mt-5 pt-5 text-white bg-dark  bg-gradient rounded"
          style="width: 100%;">
          <img src="{{this.image}}" class="cardimgg card-img-top " alt="...">
          <div class="card-body">
            <h5 class="card-title">{{this.batchname}}</h5>
            <p class="card-text">{{this.batchdetails}}</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>