<body class="animsition bg-l">



  <!--================Home Banner Area =================-->
  <!-- breadcrumb start-->
  <section class="breadcrumb breadcrumb_bg">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="breadcrumb_iner">
            <div class="breadcrumb_iner_item">
              <h2>USER PROFILE</h2>
              <img src="images/cat.png" alt="" style="position: absolute" height="350px">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- breadcrumb start-->
  <div class="container mt-4">
    <div class="main-body">
      <div class="row gutters-sm">
        <div class="col-md-4 mb-3">
          <div class="card">
            <div class="card-body">
              <div class="d-flex flex-column align-items-center text-center">
                <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="Admin" class="rounded-circle"
                  width="150" />
                <div class="mt-3">
                  <h4>{{user.name}}</h4>
                </div>
              </div>
            </div>
          </div>
          <div class="card mt-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <a href="/orders">
                  <h6 class="mb-0">My Orders</h6>
                </a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <a href="/wish">
                  <h6 class="mb-0">My Wishlist</h6>
                </a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <a href="/cart">
                  <h6 class="mb-0">My Cart</h6>
                </a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <a href="/editProfile">
                  <h6 class="mb-0">Edit Profile</h6>
                </a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <a href="/forgetPassword">
                  <h6 class="mb-0">Change Password</h6>
                </a>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                <a href="/address-page">
                  <h6 class="mb-0">Address</h6>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card mb-3">
            <div class="card-body">
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Full Name</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.name}}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Email</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.email}}
                </div>
              </div>
              <hr />
              <div class="row">
                <div class="col-sm-3">
                  <h6 class="mb-0">Phone</h6>
                </div>
                <div class="col-sm-9 text-secondary">
                  {{user.phonenumber}}
                </div>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- jquery plugins here-->
  <!-- jquery -->
  <script src="aranoz/js/jquery-1.12.1.min.js"></script>
  <!-- popper js -->
  <script src="aranoz/js/popper.min.js"></script>
  <!-- bootstrap js -->
  <script src="aranoz/js/bootstrap.min.js"></script>
  <!-- easing js -->
  <script src="aranoz/js/jquery.magnific-popup.js"></script>
  <!-- swiper js -->
  <script src="aranoz/js/swiper.min.js"></script>
  <!-- swiper js -->
  <script src="aranoz/js/masonry.pkgd.js"></script>
  <!-- particles js -->
  <script src="aranoz/js/owl.carousel.min.js"></script>
  <script src="aranoz/js/jquery.nice-select.min.js"></script>
  <!-- slick js -->
  <script src="aranoz/js/slick.min.js"></script>
  <script src="aranoz/js/jquery.counterup.min.js"></script>
  <script src="aranoz/js/waypoints.min.js"></script>
  <script src="aranoz/js/contact.js"></script>
  <script src="aranoz/js/jquery.ajaxchimp.min.js"></script>
  <script src="aranoz/js/jquery.form.js"></script>
  <script src="aranoz/js/jquery.validate.min.js"></script>
  <script src="aranoz/js/mail-script.js"></script>
  <script src="aranoz/js/stellar.js"></script>
  <script src="aranoz/js/price_rangs.js"></script>
  <!-- custom js -->
  <script src="aranoz/js/custom.js"></script>

</body>