<section class="vh-100 bg-image" >
  <div class="item-slick1" style="background-image: url(images/signup-bg.png);">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="item-slick1" >
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class=" col-12 col-md-9 col-lg-7 col-xl-6">
            <div class="border border-success border-3" style=" border-radius: 15px;">
              <div class="card-body p-5">
                <h2 class="text-uppercase text-center text-light mb-5">Serve a Life</h2>

                <form class="text-light" action="/sign-up" method="post" id="userSignup">

                  <div class="form-outline mb-4">
                    <label class="form-label " for="form3Example1cg">Your Name</label>
                    <input type="text" id="form3Example1cg" name="name" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example3cg">Your Email</label>
                    <input type="email" id="form3Example3cg" name="email" class="form-control form-control-lg" />

                  </div>

                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cg">Password</label>
                    <input type="password" id="form3Example4cg" name="Password" class="form-control form-control-lg" />

                  </div>
                  {{#if alreadyexist}}
                  <p>User already exists</p>
                  {{/if}}


                  <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example4cdg">Phone Number</label>
                    <input type="phonenumber" id="form3Example4cdg" name="phonenumber"
                      class="form-control form-control-lg" />

                  </div>

                  <div class="d-flex justify-content-center">
                    <button type="submit"
                      class="btn btn-primary btn-block btn-lg gradient-custom-4 text-body">Register</button>
                  </div>


                  <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                      class="fw-bold text-body"><u>Login here</u></a></p>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</section>



