<style>
    .card {
    width: 350px;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: none;
    height: 350px;
    position: relative;
  }
  
  .container {
    height: 100vh;
  }
  
  body {
    background: #eee;
  }
  
  .mobile-text {
    color: #989696b8;
    font-size: 15px;
  }
  
  .form-control {
    margin-right: 12px;
  }
  
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ff8880;
    outline: 0;
    box-shadow: none;
  }
  
  .cursor {
    cursor: pointer;
  }
</style>
<div class="d-flex justify-content-center align-items-center container">
        <div class="card py-5 px-3">
            <form action="/verify" method="post">
            <h5 class="m-0">Mobile phone verification</h5><span class="mobile-text">Enter the code we just send on your mobile phone <b class="text-danger">{{whole.phonenumber}}</b></span>
            <div class="d-flex flex-row mt-5"><input type="text" class="form-control" autofocus="" name="otp"><input type="text" class="form-control" name="otp"><input type="text" class="form-control" name="otp"><input type="text" class="form-control" name="otp"></div>
            <div class="text-center mt-5"><span class="d-block mobile-text">Don't receive the code?</span><span class="font-weight-bold text-danger cursor">Resend</span></div>
            <div class="text-center mt-5"> <span ><input type="submit" value="submit" class="btn btn-danger"></span> </div></form>
        </div>
    </div>